body {
    margin: 0px;
}
.slider {
    border-radius: 5px;
    background: gray;
    /* background: linear-gradient(left top, #E0E0E0, #EEEEEE); */
    width: 310px;
    height: 15px;
    margin: 10px;
  }
  
  .thumb {
    width: 10px;
    height: 25px;
    border-radius: 3px;
    position: absolute;
    left: 25px;
    top: 5px;
    background: blue;
    cursor: pointer;
  }